﻿<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="./RRVisionStyle.css?v=1.0.3" />
</head>
<body>
    <div id="external-container">
        <!--<%-- class="comparison-tool--%>-->
        <div id="visualizer-container">
            <!--<%-- class="ct-container"--%>-->
            <!--<canvas id="visualizer-canvas" style="background-color: black">Your browser does not support the HTML5 canvas tag.</canvas>-->
            <img id="visualizer-canvas" style="background-color: black" src="./2048_MOHAWK_16555520_preview.jpg"/>
            <!--<%--class="ct-before"--%>-->
            <img id="compare-image" class="ct-after hidden" />
            <div id="ct-handle" class="hidden">
                <span class="ct-left-arrow"></span>
                <span class="ct-right-arrow"></span>
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./maticad.comparisontool.js"></script>
    <script>
        window.onload = function () {
            Maticad.ComparisonTool.showComparisonTool( 'https://prototypes.maticad.com/MHK_SCENE/MASTER_BATHROOM/2048_MOHAWK_16555520/2048_MOHAWK_16555520_preview.jpg', 'right');
            Maticad.ComparisonTool.showComparisonTool( 'https://prototypes.maticad.com/MHK_SCENE/MASTER_BATHROOM/2048_MOHAWK_16555520/2048_MOHAWK_16555520_preview.jpg', 'left');
        }
    </script>
</body>
</html>
