﻿* {
    margin: 0;
    padding: 0;
}

.comparison-tool #ct-handle:before, .comparison-tool #ct-handle:after {
    content: " ";
    display: block;
    background: white;
    position: absolute;
    z-index: 30;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    width: 3px;
    height: 9999px;
    left: 50%;
    margin-left: -1.5px;
}

.ct-left-arrow, .ct-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

#visualizer-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ct-container {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 0;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/*.ct-container*/
img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
}

/*.ct-container*/
canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
    top: 0;
    border: 0;
    display: block;
}

.ct-container * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.ct-before {
    z-index: 10;
}

.ct-after {
    z-index: 20;
}

#ct-handle {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 3px solid white;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    z-index: 40;
    cursor: pointer;
}

.comparison-tool #ct-handle:before {
    bottom: 50%;
    margin-bottom: 22px;
    -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.comparison-tool #ct-handle:after {
    top: 50%;
    margin-top: 22px;
    -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
}

.ct-left-arrow {
    border-right: 6px solid white;
    left: 50%;
    margin-left: -17px;
}

.ct-right-arrow {
    border-left: 6px solid white;
    right: 50%;
    margin-right: -17px;
}


.hidden {
    display: none;
}
